<!DOCTYPE html>   
<html lang="en">
<link rel="stylesheet" href="/static/loginstyle.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1 >Welcome to Flashcard App</h1>
  <form action="/" method="POST" id="create-form">
    <div style="vertical-align: middle;">
      <label>Enter Your Username:</label><br><br>
      <input type="text" name="Username" required style="font-size: 14pt; height: 25px; width:280px; " />
    </div>
    <a href="/signup">create new account</a>
    <div>
    <input type="submit" value = "Submit">
    </div>
  </form>
</body>
</html>